header {
  font-weight: bold;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: -0.89px;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 30px;
  svg {
    path {
      fill-opacity: 0;
      fill: #fff !important;
      stroke: #fff;
      stroke-width: 1;
      stroke-dasharray: 500;
      stroke-dashoffset: 500;
      -webkit-animation-name: draw;
      animation-name: draw;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
    }
  }

  @-webkit-keyframes draw {
    90% {
      stroke-dashoffset: 0;
      stroke-width: 2;
      fill-opacity: 0;
    }
    100% {
      stroke-width: 0;
      fill-opacity: 1;
    }
  }

  @keyframes draw {
    90% {
      stroke-dashoffset: 0;
      stroke-width: 2;
      fill-opacity: 0;
    }
    100% {
      stroke-width: 0;
      fill-opacity: 1;
    }
  }
}