main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  table {
    width: 800px;
    height: 336px;
    tr {
      display: flex;
      width: 800px;
      th {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;
        width: 100%;
        background: #E5EEFB;
        box-shadow: inset 0 1px 3px 0 #FFFFFF;
        border: 1px solid #DAE0E9;
        font-weight: bold;
        font-size: 14px;
        color: #3A5071;
        letter-spacing: 0.66px;
        text-align: center;
        &:first-child {
          border-top-left-radius: 5px;
        }
        &:last-child {
          border-top-right-radius: 5px;
        }
        .arrows {
          margin-left: 10px;
        }
        .arrow-up {
          width: 0;
          height: 0;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-bottom: 4px solid #3A5071;
          margin-bottom: 2px;
        }
        .arrow-down {
          width: 0;
          height: 0;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid #3A5071;
        }
      }
      td {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #DAE0E9;
        font-size: 16px;
        color: #577198;
        letter-spacing: 0.75px;
        text-align: center;
        &:nth-of-type(odd) {
          font-weight: bold;
        }
      }
      &:nth-of-type(even) td.number, &:nth-of-type(even) .firstname, &:nth-of-type(even) .lastname, &:nth-of-type(even) .date, &:nth-of-type(even) .company, &:nth-of-type(even) td.note {
        background-color: #F1F6FC;
      }
      &:last-child td.number {
        border-bottom-left-radius: 5px;
      }
      &:last-child td.note {
        border-bottom-right-radius: 5px;
      }
      .number {
        width: 62px;
      }
      .firstname {
        width: 142px;
      }
      .lastname {
        width: 144px;
      }
      .date {
        width: 186px;
      }
      .company {
        width: 134px;
      }
      .note {
        width: 133px;
      }
      &:last-of-type {
        box-shadow: 0 33px 48px -18px rgba(0,0,0,0.3);
      }
    }
  }
  ul.pagination {
    display: flex;
    width:  243px;
    justify-content: space-between;
    margin-top: 39px;
    margin-bottom: 81px;
    font-size: 16px;
    letter-spacing: 0.75px;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
    .lt, .rt {
      color: white;
    }
    .controls {
      color: #262E00;
    }
    .controls-active {
      color: white;
      display: flex;
      width: 70px;
      justify-content: center;
    }
    .lt, .rt {
      color: white;
    }
  }
}